@font-face {
    font-family: "Inter";
    src: url("../Fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Prato";
    src: url("../Fonts/Prato/Prata-Regular.ttf") format("truetype");
}